@font-face {
    font-family: 'font1';
    src: url('../fonts/ITCAvantGardePro-Bk.otf');
}
@font-face {
    font-family: 'font2';
    src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: 'font3';
    src: url('../fonts/HelveticaNeue-MediumCond.otf');
}
